<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/axentix@0.5.3/dist/css/axentix.min.css">
        {% block stylesheets %}{% endblock %}
        <link rel="stylesheet" href="{{ asset('css/styles.css') }}">


    </head>
    <body>
        <header>
            <nav class="navbar primary">
              <a href="{{ path('app_home') }}" class="navbar-brand"></a> 
               <div class="navbar-menu ml-auto">
               <a class="navbar-link" href="{{ path('app_home') }}">Accueil</a>
               <a class="navbar-link" href="{{ path('annonces_liste') }}">Annonces</a>
               <a class="navbar-link" href="{{ path('users') }}">Users_home</a>
               <a class="navbar-link" href="{{ path('admin_home') }}">Admin_home</a>
               <a class="navbar-link" href="{{ path('mentions') }}">Mentions</a>
               <a class="navbar-link" href="{{ path('contact') }}">Contact</a>
               <a class="navbar-link" href="{{ path('app_login') }}">Login</a>
               <a class="navbar-link" href="{{ path('app_logout') }}">Logout</a>
               </div>
           </nav>
        </header>

        <main>
            {% block body %}{% endblock %}
        </main>

        <footer class="footer primary">
            
        </footer>

        <script src="https://cdn.jsdelivr.net/npm/axentix@0.5.3/dist/js/axentix.min.js"></script>
        {% block javascripts %}

        {% endblock %}
        <script src="{{ asset('js/scripts.js') }}"></script>
    </body>
</html>
